# Core ML dependencies
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

# Ultralytics YOLOv8
ultralytics==8.3.50

# Utilities
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
opencv-python==4.10.0.84
pyyaml==6.0.2
tqdm==4.66.5

# Jupyter support (if you run notebooks)
jupyterlab==4.2.5
ipykernel==6.29.5


streamlit==1.26.1